:root {
  --first-color: #fd5959;
  --second-color: #ff9c6d;
  --third-color: #fcff82;
  --fourth-color: #afc5ff;
}

body {
  text-align: center;
}

h1 {
  font-size: 50px;
  color: var(--fourth-color);
  margin: 10px;
}

h2,
h3 {
  color: var(--second-color);
  margin: 0;
}

p {
  padding: 20px;

  line-height: 1.5;
}

.info {
  margin: 80px;
}

.info a {
  text-decoration: none;
  border-radius: 10px;
  color: white;
  padding: 20px;
  margin: 30px;
}

.contact-link {
  background: var(--first-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.about-link {
  background: var(--second-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.about-me {
  display: flex;
  margin: 20px 0;
}

.about-me p {
  margin: 40px;
  padding: 20px;
}

.email {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  color: var(--second-color);
}

.email:hover {
  text-decoration: underline;
  color: var(--first-color);
}

.page-frame {
  margin-top: 100px;
}

.app-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--first-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
}
